{% extends "base.html" %}
{% block title %} Ajouter un user{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau user
			</p>
			<form method="POST">
				<div class="form-group">
					<label for= "value_user">
						Nom User
					</label>
					<input type ="text" class="form-control" name="name_user_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le user
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
